<p>register works!</p>

<!-- Screen Name -->
<label for="Name">
    Name:
</label>
<input #titleInput type="text" id="Name" name="Name" [(ngModel)]="name" placeholder="screen name..." required>

<!-- List of groupd -->

<br>

<label for="Group">
    Group:
</label>

<select #groupTitle id="Group" name="Group" [(ngModel)]="group" required>
    <option *ngFor="let group of groups" [value]="group">{{group}}</option>
</select>

<label for="register">
    <button id="register" (click)="register()">Register</button>
</label>

<!-- Error message -->
<p style="color: red;">{{error}}</p>

<!-- Chat Rooms -->

<!-- Register Button -->